body {
    font-family: 'Helvetica New', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 20px 0;
    box-sizing: border-box;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

.hashtag-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 850px;
    justify-content: space-between;
}

.hashtag-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 150px;
    width: 48%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .hashtag-box {
        width: 100%;
    }
}

#hashtagDisplay, #clipboardDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr)); /* Reduced minmax */
    gap: 5px;
    flex-grow: 1;
    overflow-y: auto;
    align-content: start;
    padding: 5px; /* Added padding to the grid container */
}

#hashtagDisplay span, #clipboardDisplay span {
    display: inline-block;
    padding: 5px 8px; /* Reduced padding */
    margin: 0;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    word-break: break-word;
}

#hashtagDisplay span.selected, #clipboardDisplay span.selected {
    background-color: #e0e0e0;
    border: 1px solid #bbb;
    padding: 4px 7px; /* Reduced padding to compensate for border */
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 15px;
}

.copy-button, button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.copy-button:hover, button:hover {
    background-color: #0056b3;
}
