body {
    font-family: 'Helvetica New', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 20px 0;
    box-sizing: border-box;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

.hashtag-container {
    display: flex;
    justify-content: center; /* Center the boxes */
    width: 100%;
    max-width: 850px;
    flex-wrap: wrap; /* Keep flex-wrap for mobile */
}

.hashtag-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 150px;
    width: 48%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .hashtag-box {
        width: 100%;
    }
}

#hashtagDisplay span, #clipboardDisplay span {
    padding: 8px 12px;
    margin: 2px;
    font-size: 16px;
}


#hashtagDisplay span, #clipboardDisplay span {
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: #fff;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#hashtagDisplay span.selected, #clipboardDisplay span.selected {
    background-color: #e0e0e0;
    border: 1px solid #bbb;
    padding: 5px 9px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 15px;
}

.copy-button, button {
    padding: 12px 20px;
    font-size: 16px;
}

.copy-button:hover, button:hover {
    background-color: #0056b3;
}
